BTC_ADDRESS=
WORKER_NAME=

# Use IP if mDNS fails (http://192.168.x.x:8123)
HA_URL=http://homeassistant.local:8123
HA_TOKEN=
BATTERY_ENTITY=sensor.my_home_percentage_charged
SOLAR_ENTITY=sensor.my_home_solar_power
BATTERY_MIN=90
SOLAR_MIN=800
CHECK_SECS=120

# Set FORCE_MINE=Y to mine regardless of solar/battery for FORCE_MINE_MINS
FORCE_MINE=
FORCE_MINE_MINS=30

KRAKEN_KEY=
KRAKEN_SECRET=
MIN_BTC_SELL=0.0005

LOG_LEVEL=info
